@font-face{
	font-family: 'RobotoSlab';
	src: url('../fonts/RobotoSlab-Regular/RobotoSlab-Regular.eot');
	src: url('../fonts/RobotoSlab-Regular/RobotoSlab-Regular.eot?iefix') format('eot'),
	url('../fonts/RobotoSlab-Regular/RobotoSlab-Regular.woff') format('woff'),
	url('../fonts/RobotoSlab-Regular/RobotoSlab-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}


@font-face{
	font-family: 'RobotoSlab-Bold';
	src: url('../fonts/RobotoSlab-Bold/RobotoSlab-Bold.eot');
	src: url('../fonts/RobotoSlab-Bold/RobotoSlab-Bold.eot?iefix') format('eot'),
	url('../fonts/RobotoSlab-Bold/RobotoSlab-Bold.woff') format('woff'),
	url('../fonts/RobotoSlab-Bold/RobotoSlab-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: bold;
}
